Testes/2º/40240119.py
Testes/3º/40240119.py
Testes/3º/atividades.txt
Testes/4º/Ex01 - 40240119.py
Testes/4º/files/Dezembro.txt
Testes/4º/files/meses.txt
Testes/4º/files/Novembro.txt
Testes/4º/files/Outubro.txt
Testes/4º/images/lupa.png
Exercícios/Snippets/Snippets de código.py
Exercícios/Snippets/snippets.json
Exercícios/Snippets/Testes.py
Exercícios/Snippets de Código/Snippets de código.py
Exercícios/Snippets de Código/snippets.json
Exercícios/Snippets de Código/Testes.py
Trabalho Prático/
